dfRaizen/PartialArmTemplates/ArmTemplate_2_6_2020_1_36_44.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfRaizen"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Custom1",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "ls -l && pwd",
							"resourceLinkedService": {
								"referenceName": "cnn_blobshared",
								"type": "LinkedServiceReference"
							},
							"folderPath": "code",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "serv_batch",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Custom1_copy1",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Custom1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "@concat('echo ', activity('Custom1').output)",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "cnn_blobshared",
								"type": "LinkedServiceReference"
							},
							"folderPath": "code",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "serv_batch",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Azure Function1",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Custom1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "httpLog",
							"method": "POST",
							"body": {
								"logmsg": "teste"
							}
						},
						"linkedServiceName": {
							"referenceName": "serv_pythonfunc",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "HR"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/serv_pythonfunc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/serv_pythonfunc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "https://fncbigdata.azurewebsites.net",
					"functionKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		}
	]
}