pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "cus_step01",
				"type": "Custom",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "ls -l && pwd",
					"resourceLinkedService": {
						"referenceName": "cnn_blobshared",
						"type": "LinkedServiceReference"
					},
					"folderPath": "code",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "serv_batch",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "cus_step02",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "cus_step01",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "@concat('echo ', activity('cus_step01').output)",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "cnn_blobshared",
						"type": "LinkedServiceReference"
					},
					"folderPath": "code",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "serv_batch",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "err_log",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "cus_step01",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "httpLog",
					"method": "POST",
					"headers": {
						"logmsg": "aaa"
					},
					"body": {
						"value": "@concat('{\"logmsg\":\"[',activity('cus_step01').output,']\"}')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "serv_pythonfunc",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "HR"
		},
		"annotations": []
	}
}